* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  position: fixed;
  bottom: 5px;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 600px;
  overflow-y: scroll;
}

#messages li {
  padding: 5px 10px;
}

/* Message Types */

.other-msg {
  background-color: #eee;
}

.notification {
  background-color: #fffec6;
  font-style: italic;
  text-align: center;
}

.error {
  background-color: #f00;
  color: #fff;
  font-style: italic;
  text-align: center;
}

.emphasized {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #f00;
}

.psa {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.command {
  color: #6ba3ff;
  text-decoration: underline;
}
