* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  position: fixed;
  bottom: 5px;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#messages li {
  padding: 5px 10px;
}

#shiftButton {
  position: fixed;
  bottom: 5px;
  right: 15px;
}

/* Message Types */

/* User message */
.msg-container {
  display: flex;
  width: 100%;
}

/* Every non-user-message that pops up in the chatbox */
.return {
  width: 100%;
  text-align: center;
  font-size: 16px;
  position: relative;
  display: block;
}

.information {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.notification {
  background-color: #fffec6;
  font-style: italic;
}

.error {
  background-color: #f00;
  color: #fff;
}

.emphasized {
  color: #f00;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.command-example {
  color: #6ba3ff;
  text-decoration: underline;
}
